<div class="container">

  <h1 class="">Edit Post</h1>


  <div class="new-comment-card">

  <form action="/editPost/{{id}}" method="POST">
      <textarea name="comment" id="" cols="10" rows="5">{{post.content}}</textarea>
      <!-- took out a author value from the input below -->
      <input type="text" name="author" value="{{post.author}}">
      <input type="submit">
    </form>

</div>
  
</div>