<div>
    <h1> tags </h1>
        <ul>
                    <li>
                        <a href="/viewbytag/1">week 1</a>
                    </li>
                    <li>
                        <a href="/viewbytag/2">week 2</a>
                    </li>
                    <li>
                        <a href="/viewbytag/3">week 3</a>
                    </li>
                    <li>
                        <a href="/viewbytag/4">week 4</a>
                    </li>
                    <li>
                        <a href="/viewbytag/5">week 5</a>
                    </li>
                    <li>
                        <a href="/viewbytag/6">css</a>
                    </li>
                    <li>
                        <a href="/viewbytag/7">hmtl</a>
                    </li>
                    <li>
                        <a href="/viewbytag/8">javascript</a>
                    </li>
                    <li>
                        <a href="/viewbytag/9">hbs</a>
                    </li>
                    <li>
                        <a href="/viewbytag/10">knex</a>
                    </li>
                    <li>
                        <a href="/viewbytag/11">routes</a>
                    </li>
                    <li>
                        <a href="/viewbytag/12">async</a>
                    </li>
                    <li>
                        <a href="/viewbytag/13">callbacks</a>
                    </li>
                    <li>
                        <a href="/viewbytag/14">memes</a>
                    </li>
                    <li>
                        <a href="/viewbytag/15">jest</a>
                    </li>
                    <li>
                        <a href="/viewbytag/16">npm</a>
                    </li>
                    <li>
                        <a href="/viewbytag/17">git</a>
                    </li>
                    <li>
                        <a href="/viewbytag/18">extensions</a>
                    </li>
                    <li>
                        <a href="/viewbytag/19">express</a>
                    </li>
                    <li>
                        <a href="/viewbytag/20">server-side rendering</a>
                    </li>
                    <li>
                        <a href="/viewbytag/21">promises</a>
                    </li>
                    <li>
                        <a href="/viewbytag/22">join collisions</a>
                    </li>
                </ul>

</div>

