<ul>
    {{#each posts}}
        <li>
            <a href="/viewpost/{{id}}">{{title}}</a>
        </li>
    {{/each}}
</ul>

<ul>
    {{#each tags}}
        <li>
            {{tag_name}}
        </li>
    {{/each}}
</ul>