.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 300px auto;
    gap: 0px 0px;
    grid-template-areas:
      "Logo Header"
      "Nav Article";
  }
  .Header {
      grid-area: Header;
      
      
     }
  .Article { 
      grid-area: Article;
      margin: 70px;
      margin-left: 200px;
     
    }
  .Nav { 
      grid-area: Nav;
      padding: 20px;
     
    }
  .Logo { 
      grid-area: Logo;
     
    }

    .Page-header {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 160px;
        line-height: 300px;
        margin: 0;
    }

    

    .header-logo {
        width:300px;
        height:300px;
        border: solid black;
        border-radius: 15px;
        margin: 10px;
   
    }

    .tag-flexbox {
        display: flex;
    }

    body {
        margin:0;
    }
    .content{
        display: block;
        padding: 50px;
        margin: 20px;
    }
    h1{
        font-family: 'Permanent Marker', cursive;
    }




/* #logoImg: 

.main-grid-layout {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%
    grid-template-areas:
    "header header"
    "nav article";



}

.header{
    display: grid;
    grid-area: header;


}

.tags {
    display: grid;
    grid-area: nav;


}

.article {
    display: grid;
    grid-area: article;


}
 */

